
    


body{
    width: 80%;
    margin: auto;
}
h1,h2
{
 background-color: darkseagreen;
}
section
{
    background-color: lightseagreen;
}


.skills{
    text-align: right;
    color: black;
    padding-right: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.first{
    width: 90%;
    background-color: aqua;
}

.css{
    width: 88%;
    background-color: aquamarine;
}
.tailwind{
    width: 80%;
    background-color: azure;
}
.javascript{
    width: 75%;
   background-color: brown;
}
.submit :hover{
    background-color:red;
    text-decoration: none;
    color: white;
 }

.assignment{
    border-radius: 40px;
}

 